<!DOCTYPE html>
<html lang="es">

<!--Encabezado-->
<head>
    <meta charset="UTF-8"> <!--Para poder usar caracteres especiales-->
    <meta name="Ana Garzón" content="Horario">
    <title>Horario</title> <!--Título-->

    <!--Enlaces a css, js, img-->
    
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>
    <table border = 1>
        <caption>Mi horario</caption>
        <tr> <th>Hora</th>
	 	<th>Lunes</th>
		<th>Martes</th>
		<th>Miércoles</th>
		<th>Jueves</th>
		<th>Viernes</th></tr>
	<tr> <td>7:00</td>
	 	<td rowspan="2">Capstone</td>
		<td rowspan="2">Mathematical Modelling</td>
		<td rowspan="2"></td>
		<td rowspan="2">Mathematical Modelling</td>
		<td rowspan="4"></td></tr>
	<tr> <td>8:00</td>
	 	</tr>
	<tr> <td>9:00</td>
	 	<td rowspan="2">Geometría Computacional y Diferencial</td>
		<td rowspan="2">Reunión Proyecto IAS</td>
		<td rowspan="2">Geometría Computacional y Diferencial</td>
		<td rowspan="2">Geometría Computacional y Diferencial</td>
	<tr> <td>10:00</td>
	 	</tr>
	<tr> <td>11:00</td>
	 	<td rowspan="4"></td>
		<td rowspan="2"></td>
		<td rowspan="2">Desarrollo web</td>
		<td rowspan="2"></td>
		<td rowspan="2">Desarrollo web</td></tr>
	<tr> <td>12:00</td>
	 	</tr>
	<tr> <td>13:00</td>
		<td rowspan="2">Diseño y Arquitectura de Software</td>
		<td rowspan="2"></td>
		<td rowspan="2">Diseño y Arquitectura de Software</td>
		<td rowspan="2"></td></tr>	
	<tr> <td>14:00</td>
	 	</tr>
        
    </table> 

	<a href ="../inicio.html" target="_top">Volver al inicio</a></li>


</body>

</html>