<!DOCTYPE html>
<html lang="es">

<!--Encabezado-->
<head>
    <meta charset="UTF-8"> <!--Para poder usar caracteres especiales-->
    <meta name="Ana Garzón" content="Dashund Miniatura">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Dashund Miniatura</title> <!--Título-->

    <!--Enlaces a css, js, img-->
    
    <link rel="icon" href="../assets/img/bx-happy.svg">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="perros_salchicha.html">Perros Salchicha <img src="../assets/img/dog-solid-24.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img href="../assets/img/dog-solid-24.png"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="estandar.html">Dashund Estándar<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="miniatura.html">Dashund Miniatura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="kaninchen.html">Dashund Kaninchen</a>
            </li>
           </ul>
        </div>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </nav>

    <h1>Perro Dachshund o Teckel Miniatura</h1>
    
    <p>El <strong>dachshund</strong>, también conocido como <strong>perro salchicha</strong> o <strong>teckel</strong> es una raza de perro originada en Alemania. Su peculiar fisonomía se debe a una mutación genética conocida como <em>bassetismo</em> que hace que las patas sean desproporcionalmente cortas en relación con el resto del cuerpo. </p>
    <img src="./assets/img/sausage_dog.jpeg"> <!--Si estuviera en la carpeta views, ../assets/img/hamster.jpg-->  

</body>

</html>