<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_parrafos.css">
    <title>Cajas CSS</title>
</head>
<body>
    <p class="azul">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quis in porro amet deleniti ducimus laboriosam, accusamus provident libero recusandae nisi non excepturi adipisci, cum omnis mollitia debitis eaque eligendi?</p>
    
    <p class="morado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, repellendus est animi ullam mollitia eos laboriosam error magnam dicta dolore non aut maiores totam aspernatur eligendi! Voluptatem nulla repellendus vero!</p>
    
    <p class="verde">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur, aliquam ratione, iste numquam commodi tempora illo mollitia sed at harum ipsum voluptates modi hic impedit porro unde dolorum ullam.</p>

    <h2>Título 1 h2</h2>

    <h2 id="ali">Título 2 h2</h2>
    <div class="esopo">
    <p>(S.VI a.C.) Escritor griego. Uno de los más antiguos géneros de la literatura universal es la fábula, un tipo de relato breve protagonizado por animales personificados cuya finalidad didáctica se explicita en una moraleja final. La Grecia clásica atribuyó a Esopo la invención de este género, igual que asignó a Homero la paternidad de la épica</p>
    <p>Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="homero"><a href="esopo.html">Homero como cantor de las gestas de los héroes</a></span>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.</p>
    </div>
</body>
</html>