<!DOCTYPE html>
<html lang="es">

<!--Encabezado-->
<head>
    <meta charset="UTF-8"> <!--Para poder usar caracteres especiales-->
    <meta name="Ana Garzón" content="Dashund Dogs">
    <title>Dashund Dogs</title> <!--Título-->

    <!--Enlaces a css, js, img-->
    
    <link rel="icon" href="../assets/img/bx-happy.svg">
</head>

<body>
<!-- Jerarquía de Títulos-->
    <h1>Perro Dachshund</h1>
    
<!-- Párrafos-->
    <!--Negrita: <strong> /<strong>-->
    <!--Salto de línea: <br> -->
    <!--Cursiva: <em> </em> -->
    <!--Subrayar: <u> </u> -->
    <!--Subindice: <sub> /<sub>-->
    <!--Superindice: <sup> /<sup>-->

    <p>El <strong>dachshund</strong>, también conocido como <strong>perro salchicha</strong> o <strong>teckel</strong> es una raza de perro originada en Alemania. Su peculiar fisonomía se debe a una mutación genética conocida como <em>bassetismo</em> que hace que las patas sean desproporcionalmente cortas en relación con el resto del cuerpo. </p>

    

<!--Imagenes-->
    <img src="../assets/img/sausage_dog.jpeg"> <!--Si estuviera en la carpeta views, ../assets/img/hamster.jpg-->

<!--Listas-->
    <!--Listas ordenadas: <ol start="número de inicio" type="tipo de índice"></ol>-->
        <!--Listas descendentes: <ol reversed ></ol>-->
    <!--Listas no ordenadas: <ul></ul>-->
    <!--Item de listas <li></li>-->

    <h2>Clasificación según el tamaño</h2>

    <ol>
        <li><strong> <a href ="./views/tipos/estandar.html" target ="_top">Estándar:</a> </strong> 9kg-15kg</li>
        <li><strong> <a href ="./views/tipos/miniatura.html" target ="_top">Miniatura:</a> </strong> 5kg-9kg</li>
        <li><strong> <a href ="./views/tipos/kaninchen.html" target ="_top">Kaninchen:</a> </strong> 3kg-5kg</li>
    </ol>


    <p>El dachshund de tamaño estándar se desarrolló para oler, perseguir y ahuyentar a los tejones (de ahí su nombre, que en alemán significa 'perro tejonero') y otros animales que viven en madrigueras, mientras que el dachshund en miniatura fue criado para cazar animales pequeños como conejos y ratones.</p>

    <h2>Clasificación según el tipo de pelo</h2>
    <ul>
	    <li><strong>Pelo duro:</strong>Generalmente gris</li>
        <li><strong>Pelo corto:</strong> Negro, rojo, marrón y dorado</li>
        <li><strong>Pelo largo:</strong> Negro, rojo, marrón y dorado</li>    
    </ul>

    <table border=1>
        <caption>Dachshund famosos y sus dueños</caption>
        <tr> <th>Dueño</th><th>Descripción Dueño</th><th>Dachshund</th><th>Descripción Dachshund</th> </tr>
        <tr> <td>John F. Kennedy</td> <td> Presidente #35 de los Estados Unidos</td> <td>Dunker</td> <td>Nunca salió de Alemania. Lo tuvo durante su tour en Europa cuando estaba con su novia de ese entonces Olivia. Kennedy resultó alérgico a Dunker</td> </tr>
        <tr> <td>Grover Cleveland</td> <td> Presidente #22 y #24 de los Estados Unidos</td> <td><em>Desconocido</em></td> <td> Vivió en la casa blanca durante ambos periodos presidenciales.</td> </tr>
    </table>

    <h3> Fuentes: </h3>
    <ol>
        <li><a href ="https://www.expertoanimal.com/razas-de-perros/dachshund-o-teckel-estandar.html" target="_blank"> Portal Experto Animal </a></li>
    </ol>

    

</body>

</html>