<!DOCTYPE html>
<html lang="es">

<!--Encabezado-->
<head>
    <meta charset="UTF-8"> <!--Para poder usar caracteres especiales-->
    <meta name="Ana Garzón" content="Dashund Miniatura">
    <title>Dashund Miniatura</title> <!--Título-->

    <!--Enlaces a css, js, img-->
    
    <link rel="icon" href="../assets/img/bx-happy.svg">
</head>

<body>
    <h1>Perro Dachshund o Teckel Miniatura</h1>
    
    <p>El <strong>dachshund</strong>, también conocido como <strong>perro salchicha</strong> o <strong>teckel</strong> es una raza de perro originada en Alemania. Su peculiar fisonomía se debe a una mutación genética conocida como <em>bassetismo</em> que hace que las patas sean desproporcionalmente cortas en relación con el resto del cuerpo. </p>
    <img src="./assets/img/sausage_dog.jpeg"> <!--Si estuviera en la carpeta views, ../assets/img/hamster.jpg-->  

</body>

</html>