<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!--Para poder usar caracteres especiales-->
    <meta name="Ana Garzón" content="Formulario">
    <title>Formulario</title> <!--Título-->

    <!--Enlaces a css, js, img-->
    
    <link rel="icon" href="./assets/img/bx-happy.svg">
</head>

<body>
    <form name="datosBasicos" action="../inicio.html" method="" >
        <h1>Datos Básicos</h1>
        <label for ="perfil">Describa su perfil:</label>
            <input id="perfil">
        <label for ="ident"> Tipo de Identificación:</label>
            <input id = "ident">
        <label for ="numI">Número de Identificación:</label>
            <input id ="numI">
        <label for ="apellidos" >Apellidos:</label>
            <input id ="spellidos">
        <label for ="nombre">Nombre:</label>
            <input id ="nombre">
        <label for ="genero">Género</label>
            <input id = "genero">
        <label for="estadoCivil">Estado Civil:</label>
            <input id ="estadoCivil">
        <label for ="telefono">Número de Teléfono:</label>
            <input id = telefono>
        <label for ="direccion">Dirección de Residencia:</label>
            <input id ="direccion">
        <label for =correo> Correo Electrónico:</label>
            <input id = correo>
    </form>
</body>
</html>