<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"> <!--Para poder usar caracteres especiales-->
        <meta name="Ana Garzón" content="Este archivo contiene el quiz de desarrollo web realizado por Ana Garzón para la clase de desarrollo web el 15 de Septiembre de 2023">
        <title>quiz</title> <!--Título-->
        <link rel="icon" href="../assets/img/pencil.png">

    </head>

    <body>
        <h1> Quiz 1</h1>
        <p></p>
        <table border = "2">
            <!--Encabezado-->
            <tr border = "3"> 
             <th><strong>L</strong></th>
             <th><strong>Nombre</strong></th> <!--Primera letra en Mayúscula, resto en Minúscula-->
             <th><strong>Apellidos</strong></th>
             <th><strong>Cosa</strong></th> <!--Primera letra en Mayúscula, resto en Minúscula-->
             <th><strong>Color</strong></th> <!--Relleno del color-->
             <th><strong>Lugar</strong></th> <!--Ciudad en Minúscula-->
             <th><strong>Atributo HTML</strong></th> <!--Atributo HTML: Cursiva, subrayado-->
             <th><strong>Total</strong></th></tr> <!--Total: Negrita-->  

            <!--Primera Letra-->
            <tr>
            <td>V</td>
             <td>Valeria</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
             <td>Vélez</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
             <td><img src="../assets/img/vela.jpg" width="100px"></td> <!--Imagen-->
             <td style="background-color:violet;"></td> <!--Relleno del color-->
             <td>villa de leyva</td> <!--Lugar en Minúscula-->
             <td><u><em>value</em></u></td> <!--Atributo HTML: Cursiva, subrayado-->
             <td><strong></strong></td></tr> <!--Total: Negrita-->
            
            <!--Segunda Letra-->
            <tr>
            <td>D</td>
            <td>Diana</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td>Durán</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td><img src="../assets/img/dado.jpg" width="100px"></td> <!--Imagen-->
            <td style="background-color:gold;"></td> <!--Relleno del color-->
            <td>dinamarca</td> <!--Lugar en Minúscula-->
            <td><u><em>dl</em></u></td> <!--Atributo HTML: Cursiva, subrayado-->
            <td><strong></strong></td></tr> <!--Total: Negrita-->

            <!--Tercera Letra-->
            <tr>
            <td>U</td>
            <td>Úrsula</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td>Umaña</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td><img src="../assets/img/ula_ula.jpg" width="100px"></td> <!--Imagen-->
            <td style="background-color:purple;"></td> <!--Relleno del color-->
            <td>ucrania</td> <!--Lugar en Minúscula-->
            <td><u><em>u</em></u></td> <!--Atributo HTML: Cursiva, subrayado-->
            <td><strong></strong></td></tr> <!--Total: Negrita-->

            <!--Cuarta Letra-->
            <tr>
            <td>X</td>
            <td>Ximena</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td>Ximénez</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td><img src="../assets/img/xilofono.jpg" width="100px"></td> <!--Imagen-->
            <td style="background-color:orange;"></td> <!--Relleno del color-->
            <td>xeraco (valencia)</td> <!--Lugar en Minúscula-->
            <td><u><em>xml</em></u></td> <!--Atributo HTML: Cursiva, subrayado-->
            <td><strong></strong></td></tr> <!--Total: Negrita-->

            <!--Quinta Letra-->
            <tr>
            <td>R</td>
            <td>Ramiro</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td>Riaño</td> <!--Primera letra en Mayúscula, resto en Minúscula-->
            <td><img src="../assets/img/reloj.png" width="100px"></td> <!--Imagen-->
            <td style="background-color:red;"></td> <!--Relleno del color-->
            <td>reino unido</td> <!--Lugar en Minúscula-->
            <td><u><em>rel</em></u></td> <!--Atributo HTML: Cursiva, subrayado-->
            <td><strong></strong></td></tr> <!--Total: Negrita-->
        </table> 
    </body>
</html>